#jinja2: lstrip_blocks: "True", trim_blocks: "True"
[
    {
        "name": "Delete CVP Configlet VLANsTEMP",
        "type": "configlet",
        "action": "delete",
        "configlet": "../configlets/configlet.customers.vlans.conf",
        "apply": true,
        "devices": [
            {% for device in customers.devices %}
            "{{ device }}"{{ "," if not loop.last else "" }}
            {% endfor %}
        ]
    },
    {
        "name": "rollback-vlans-{{ lookup('pipe', 'date +\"%d%H%M\"')  }}",
        "type": "change-control",
        "snapid": "snapshotTemplate_9_4694793526491",
        {% if lookup('env','CVP_CC_APPLY') is defined and lookup('env','CVP_CC_APPLY') == 'true' %}
        "apply": true,
        {% if lookup('env','CVP_CC_TZ') is defined %}
        "timezone": "{{lookup('env','CVP_CC_TZ')}}",
        {% else %}
        "timezone": "Europe/Paris",
        {% endif %}
        {% if lookup('env','CVP_CC_COUNTRY') is defined %}
        "country": "{{lookup('env','CVP_CC_COUNTRY')}}",
        {% else %}
        "country": "FR"
        {% endif %}
        {% else %}
        "apply": false
        {% endif %}
    }
]